{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "rules": {
    "no-underscore-dangle": [
      "error", {
        "allow": ["__STATE__"],
      },
    ],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "comma-dangle": [1, "always-multiline"],
    "import/no-extraneous-dependencies": [0],
    "max-len": [0],
  },
  "globals": {
    "expect": true,
  },
}